<h3>Add New Movie</h3>
<form (submit)="addMovie()">
  <!-- Two-way binding với ngModel -->
  <input [(ngModel)]="newMovie.name" [ngModelOptions]="{standalone: true}" type="text" placeholder="Movie Name" required />
  <input [(ngModel)]="newMovie.releaseYear" [ngModelOptions]="{standalone: true}" type="number" placeholder="Release Year" required />
  <button type="submit">Add Movie</button>
</form>
<div>
  <table>
    <tr>
      <td>New movie's name:</td>
      <td>
        <input #movieName placeholder="name">
      </td>
    </tr>
    <tr>
      <td>year:</td>
      <td>
        <input #year placeholder="name">
      </td>
    </tr>
    <tr>
      <button (click)="add(movieName.value, year.value); movieName.value=''; year.value=''"> Add</button>
    </tr>
  </table>
</div>

<h2>Movie List</h2>
<ul>
  <li *ngFor="let movie of moviesList">
    <a routerLink="/detail/{{movie.id}}">
      {{ movie.name }} (Released: {{ movie.releaseYear }})
    </a>
    <button (click)="delete(movie.id)">Delete</button>
  </li>
</ul>
<!-- <app-movie-detail [movie]="selectedMovie"></app-movie-detail> -->
