<h3>Add New Movie</h3>
<form #movieForm="ngForm" (ngSubmit)="add(movieName.value, year.value)">
  <div>
    <label for="movieName">New movie's name:</label>
    <input id="movieName" name="movieName" ngModel required #movieName="ngModel" />
    <div *ngIf="movieName.invalid && (movieName.dirty || movieName.touched)">
      <small *ngIf="movieName.errors?.['required']">Name is required.</small>
    </div>
  </div>
  <div>
    <label for="releaseYear">Year:</label>
    <input id="releaseYear" name="releaseYear" ngModel required pattern="[0-9]*" #year="ngModel" />
    <div *ngIf="year.invalid && (year.dirty || year.touched)">
      <small *ngIf="year.errors?.['required']">Release year is required.</small>
      <small *ngIf="year.errors?.['pattern']">Must be a valid number.</small>
    </div>
  </div>
  <button type="submit" [disabled]="movieForm.invalid">Add</button>
</form>

<h2>Movie List</h2>
<ul>
  <li *ngFor="let movie of moviesList">
    <a routerLink="/detail/{{movie.id}}">
      {{ movie.name }} (Released: {{ movie.releaseYear }})
    </a>
    <button (click)="delete(movie.id)">Delete</button>
  </li>
</ul>